.div-footer {
  background: black;
  color: #fff;
  display: flex;
  height: 8vh;
  justify-content: center;
  align-items: center;
  a {
    background-color: transparent;
    color: white;
    text-decoration: none;
    margin-left: 5px;
    &:hover{
      color: yellow;
      cursor: pointer;
    }
  }
}
